.icon h2 {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 3rem;
}

.list li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list p {
  width: 15rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem 4rem;
  margin: 2rem 2rem 2rem 0;
  border: 1px solid #333;
  border-radius: 1rem;
  background: none;
  transition: all 0.3s;
}

span {
  font-size: 2rem;
}
